build/*
!build/x64/
build/x64/*
!build/x64/Release/
build/x64/Release/*
!build/x64/Release/cnumpy_ahk.dll

.numahk-test-output/
.pytest_cache/
**/__pycache__/
*.py[cod]

benchmark/results/
benchmark/runs-*/

*.log
*.user
*.suo
*.VC.db
*.VC.VC.opendb
